body {
  background-color: #53a8b6;
  padding: 0px;
  color: #034561;
}

#header {
  /* margin-bottom: -80px;
  padding: 0px; */
  height: 200px;

  /* border_bottom: 1px solid #e2e8f0; */
}

footer {
  background-color: rgb(70, 143, 197);
  text-align: center;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin-right: 32px;
  gap: 2px;
}

ul a {
  font-size: 30px;
  margin: 0 10px;
}

#about {
  padding: 0px;
  margin: 0px;
  text-align: center;
}

#avatar {
  border-radius: 50%;
}

#contact {
  text-align: center;
  padding: 20px;
}

#feedback {
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

#comment_section {
  text-align: center;
  justify-content: center;
}

#name {
  border-radius: 5px;
  margin: 4px;
  border: 1px solid #034561;
}

#comment {
  border-radius: 5px;
  margin: 4px;
  border: 1px solid #034561;
}

#submit {
  border-radius: 7px;
  padding-top: 3px 2px;
  margin: 6px;
  background: #034561;
  color: rgb(185, 183, 183);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  background: radial-gradient(
    circle at 10% 20%,
    rgb(39, 199, 171) 0%,
    rgb(70, 143, 197) 90%
  );
  border-bottom: 2px solid #034561;
}
.hamburger {
  display: none;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}
.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-item {
  margin-left: 5rem;
}
.nav-link {
  font-size: 1.6rem;
  font-weight: 100;
  color: #0c2233;
  text-decoration: none;
}

.nav-link:hover {
  color: #101010;
}

.item {
  width: 90px;
  height: 90px;
  display: flex;
  justify-content: center;
  user-select: none;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.radio {
  display: none;
}
.radio ~ span {
  font-size: 3rem;
  cursor: pointer;
  transition: 0.3s;
}

.note {
  padding: 40px 35px;
  margin: 30px 50px;
  text-shadow: 0px 0px 0.5px rgb(18, 2, 2);
  line-height: 2;
}
.fa-linkedin:before {
  color: black;
}
.fa-github:before {
  color: black;
}

@media only screen and (max-width: 768px) {
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 10px;
    flex-direction: column;
    border-radius: 10px;
    text-align: center;
    transition: 0.5s;
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 2.5rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

html,
body {
  margin: 0;
  height: 100%;
}

/* don't edit this */
.jest-lite-report__status--pass {
  background: var(--color-pass);
}
.jest-lite-report__errors {
  display: none;
}
/* don't edit this */
.jest-lite-report__status--pass {
  background: var(--color-pass);
}
.jest-lite-report__errors {
  display: none;
}
