


body {
    background-color:#385170;
   padding:0px
  }


  

  #header {
     margin-bottom:-80px;
    padding:0px;
    height:250px; 
     border-bottom: 1px solid #E2E8F0; 
   
  }

  footer {
background-color:#005792;
    text-align:center;
  }

  ul {
    list-style-type:none;
    display:flex;
  justify-content:center;
  }

  ul a {
    font-size:30px;
    margin:0 10px;
  } 

 
  #about {
    padding:0px;
   margin:0px;
    text-align:center;
   
    
  }
#avatar{
    border-radius:50%;
   
}
 
 #contact {
    text-align:center;
 }
#feedback{
   text-align: center;
  justify-content: center;
  align-items: center;
   display: flex;
  flex-wrap: wrap;
}
 .navbar {
      display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
  
  }
.hamburger{
    display:none;
}

  .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}
.item {
  width: 90px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.radio {
  display: none;
}
.radio ~ span {
  font-size: 3rem;
  cursor: pointer;
  transition: 0.3s;
}
.nav-link{
    font-size: 1.6rem;
    font-weight: 400;
    color: #475569;
}

.nav-link:hover{
    color: #482ff7;
}




 
@media only screen and (max-width: 768px){
    .nav-menu{
        position:fixed;
        left:-100%;
        top:5rm;
        flex-direction:column;
        background-color: #fff;
             width:100%;
            border-radius:10px;
        text-align: center;
        transition:0.3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    }
    
    .nav-menu.active{
    left:0;
    }
    .nav-item{
        margin: 2.5rem 0;
    }
    .hamburger{
        display: block;
        cursor:pointer;
    }
    .hamburger.active .bar:nth-ChannelSplitterNode(2) {
  opacity:0;
}
.hamburger.active .bar:nth-ChannelSplitterNode(1) {
  transform: translateY(8px) rotate(45deg);
}
.hamburger.active .bar:nth-ChannelSplitterNode(3) {
  transform: translateY(-8px) rotate(-45deg);
}
}

/* don't edit this */
.jest-lite-report__status--pass {
  background: var(--color-pass);
}
.jest-lite-report__errors { display:none }
